{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="about">
        <div class="container">


            <h1 class="display-2 text-center">{% trans "COVID-19 Update" %}</h1>
            <div class="row">
                <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <h2 class="card-title">{% trans "A Message from Us" %}</h2>
                        <p class="card-text">{% trans "We are so sorry to have to cancel this event.  Even though the schools may re-open, we are certain the teachers and students will have too many demands on their schedules to pull this off this year. Know that we appreciate your support and will start refunding money tomorrow. You don't have to do anything; your charges will be refunded directly to your credit card. Please be patient, but if you have any questions, by all means contact us at " %}<a href="mailto:blairmusic2020@gmail.com">blairmusic2020@gmail.com</a>.</p>
                        <p class="card-text">{% trans "We certainly hope to see you next year. In the meantime, remember to appreciate and patronize our wonderful " %}<a href="{% url 'about' %}">{% trans "sponsors"%}</a>{% trans " when you can." %}</p>
{#                        <p class="card-text">{% trans "Also, we have posted some Peter and the Wolf resources below for your family to enjoy while you're at home!" %}</p>#}

                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}