{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div id="scene" data-scalar-y="0" class="fixed-top">
    <div data-depth="0.1" class="layer"><div class="tree-r d-none d-md-block" ></div></div>
    <div data-depth="0.1" class="layer"><div class="tree-l d-none d-md-block"></div></div>
</div>
<div class="container-fluid" id="index">
    <main>
        <h1 id="title" class="display-1">{% trans "Peter and the Wolf"%}</h1>
        <h3>{% trans "Saturday, March 21 | 10AM - 1PM"%}</h3>
        <h3><a href="http://maps.google.com/maps?q=51+University+Blvd,+Silver+Spring,+MD+20901" target="_blank">51 University Blvd E, Silver Spring, MD 20901</a></h3>
        <p class="lead">{% trans "MBHS Music is proud to present Peter and the Wolf, a community music festival for children."%}</p>
        <!--Check out what's going on at the event,
        buttons-->
        <div id="testimonials" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p>{% trans "&quot;My son is 3 years old, and he really enjoys music. It was wonderful to watch his curiosity come alive at Carnival of the Animals.&quot;"%}
                </p>
                </div>
                <div class="carousel-item">
                    <p>{% trans "&quot;The students were delightful and the event was a huge success. $5 was a bargain!&quot;"%}
                </p>
                </div>
                <div class="carousel-item">
                  <p>{% trans "&quot;The reed he got to keep is in his box of prized treasures!&quot;"%}
                </p>
                </div>
                <div class="carousel-item">
                  <p>{% trans "&quot;I was particularly impressed with the students as they encouraged the children to play and handle their instruments.&quot;"%}
                </p>
                </div>
                <div class="carousel-item">
                  <p>{% trans "&quot;This was truly an amazing event that should become a tradition!&quot;"%}
                </p>
                </div>
                <div class="carousel-item">
                  <p>{% trans "&quot;I can’t believe this was your first time. It was really terrific.&quot;"%}
                </p>
                </div>
                <div class="carousel-item">
                  <p>{% trans "&quot;We loved the event and we will recommend it to all our neighbors next year!&quot;"%}
                      </p>
                </div>
              </div>
            </div>
        <a class="btn btn-primary btn-lg btn-block d-sm-none" href="{% url 'about' %}#sponsors">{% trans "Check out our Sponsors"%}</a>
        <a class="btn btn-primary btn-lg btn-block d-sm-none" href="{% url 'activities' %}">{% trans "Look at our Activities"%}</a>
        <a class="btn btn-primary btn-lg btn-block d-sm-none" href="{% url 'activities' %}#schedule">{% trans "Event Schedule"%}</a>
        <a class="btn btn-primary btn-lg btn-block d-sm-none" href="{% url 'about' %}#testimonials-wrap">{% trans "Read Testimonials"%}</a>
        <div id="sign">
            <div class="pole"></div>
            <a class="left" id="pointer-l" href="{% url 'about' %}#sponsors" style="grid-row: 2"><div><i class="fas fa-chevron-left"></i>{% trans "Sponsors"%}</div></a>
            <a class="right" id="pointer-r" href="{% url 'activities' %}" style="grid-row: 4"><div>{% trans "Activities"%}<i class="fas fa-chevron-right"></i></div></a>
            <a class="left" id="pointer-l" href="{% url 'activities' %}#schedule" style="grid-row: 6"><div><i class="fas fa-chevron-left"></i>{% trans "Schedule"%}</div></a>
            <a class="right" id="pointer-r" href="{% url 'about' %}#testimonials-wrap" style="grid-row: 8"><div>{% trans "Testimonials"%}<i class="fas fa-chevron-right"></i></div></a>

        </div>


    </main>    
</div>
<script src="{% static 'core/js/parallax.min.js' %}"></script>
<script>
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
</script>
{% endblock %}