#tl-widget {
    font-family: 'Nunito', sans-serif;
}

html body #tl-widget #ie6.body,
html body #tl-widget #ie7.body,
html body #tl-widget #ie8.body {
    display: none !important;
}
html body #tl-widget #ie6 .tl-browser-unsupported-message,
html body #tl-widget #ie7 .tl-browser-unsupported-message,
html body #tl-widget #ie8 .tl-browser-unsupported-message {
    border: 1px solid #e0e0e0 !important;
    color: #1c302f !important;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    padding: 15px 24px !important;
    text-transform: none !important;
    text-align: left !important;
}
html body #tl-widget #ie6 .tl-browser-unsupported-message .tl-perm-unsupported,
html body #tl-widget #ie7 .tl-browser-unsupported-message .tl-perm-unsupported,
html body #tl-widget #ie8 .tl-browser-unsupported-message .tl-perm-unsupported {
    display: inline-block !important;
}

html body #tl-widget-border {
    background: rgba(255,255,255,0.6);
    border-radius: .25rem;
}
html body #tl-widget-border:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

html body #tl-widget p {
    text-align: left !important;
}

html body #tl-widget .tl-header {
    letter-spacing: 1.2px !important;
    color: #FFF !important;
    position: relative !important;
    text-align: left !important;
    padding: 0 25px !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
html body #tl-widget .tl-header:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
html body #tl-widget .tl-header a {
    color: #FFF !important;
}

html body #tl-widget .tl-header .tl-header-title {
    float: left;
    text-transform: uppercase !important;
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding:12.5px 0 !important
}

html body #tl-widget .tl-header .tl-buy-powered-by-logo {
    float: right;
    font-family: museo-sans,sans-serif !important;
    font-size: 11px !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding:12.5px 0 !important
}

html body #tl-widget .tl-header .tl-buy-powered-by-logo a {
    position: relative !important;
    text-decoration: none !important;
    top: -1px;
}

html body #tl-widget .tl-header .tl-buy-powered-by-logo img {
    position: relative !important;
    top: 2px !important;
    width: 120px !important;
}

html body #tl-widget .tl-footer {
    border-top: 5px solid #E0E0E0 !important;
}
html body #tl-widget .tl-footer .tl-checkout-bar {
    padding: 15px 25px !important;
}

html body #tl-widget .hide {
    display: none !important;
}

/*********************************************************************************************************/

html body #tl-widget #ie7 button {
    overflow: visible !important;
    width: auto !important;
}

html body #tl-widget a img {
    border: 0 !important;
}

html body #tl-widget a.tl-button.tl-checkout {
    float: right;
    font-family: "Merriweather Sans";
}

html body #tl-widget a.tl-button img {
    position: relative !important;
    top: 5px !important;
    padding: 0 0 0 5px !important;
}

html body #tl-widget #ie6 a.tl-button span {
    background: none !important;
}

html body #tl-widget a.tl-button span {
    color: #fff !important;
}

html body #tl-widget a.tl-button span.tl-button-right-arrow {
    font-size: 17px !important;
    padding-left: 5px !important;
}

/* global ie + ff button fixes */
html body #tl-widget #ie6 button, html body #tl-widget #ie7 button {
    width: auto !important;
    overflow: visible !important;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0
}

/*****************************************************************************************/

html body #tl-widget .tl-buy-list {
    border: 0 !important;
    border-collapse: collapse !important;
    padding: 5px !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event {
    border-top: 1px solid #E0E0E0 !important;
    padding-bottom: 20px !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

html body #tl-widget .tl-buy-list .tl-first {
    border-top: none 0 !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event .tl-buy-list-name {
    float: left !important;
    padding: 20px 0 0 20px !important;
    text-align: left !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event .tl-buy-list-action {
    float: right !important;
    padding: 20px 15px 0 0 !important;
    text-align: center !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event .tl-buy-list-action .add span {
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    font-weight: normal !important;
    white-space: nowrap !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event .tl-buy-list-event-name {
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0 !important;
    line-height: 16px !important;
    opacity: 0.86 !important;
    margin: 0 !important;
    text-align: left !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event .tl-buy-list-event-name a {
    color: #1C302F !important;
    text-decoration: none !important;
    text-align: left !important;
}
html body #tl-widget .tl-buy-list .no-tickets {
    color: #444 !important;
    font-family: museo-sans,sans-serif !important;
    font-size: 16px !important;
}
html body #tl-widget .tl-buy-list .tl-buy-list-event .tl-buy-list-date {
    color: #1C302F !important;
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    letter-spacing: 0 !important;
    line-height: 16px !important;
    margin: 0 !important;
}

html body #tl-widget .tl-buy-list .tl-buy-list-empty td {
    text-align: center !important;
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    color: #444 !important;
    padding: 50px 0 !important;
}

/*************************************************************************************************/

html body #tl-widget .tl-event-header {
    padding: 3px 1.5em !important;
}
html body #tl-widget .tl-event-header:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

html body #tl-widget .tl-event-header table {
    width: 100% !important;
}

html body #tl-widget .tl-event-header table td {
    border: 0 !important;
}

html body #tl-widget .tl-event-header div.tl-header-event-name,
html body #tl-widget .tl-event-header div.tl-header-event-name a:link,
html body #tl-widget .tl-event-header div.tl-header-event-name a:visited,
html body #tl-widget .tl-event-header div.tl-header-event-name a:hover,
html body #tl-widget .tl-event-header div.tl-header-event-name a:active {
    font-size: 1.5em;
    margin: 5px 0 !important;
}

html body #tl-widget .tl-event-header .tl-event-details {
    float: left !important;
}

html body #tl-widget .tl-event-header .tl-header-venue {
    display: block;
    padding-bottom: 5px !important;
}

.tl-header-event-date, .tl-header-venue {
    margin-bottom: 1rem;
}

html body #tl-widget .tl-event-header .tl-view-all-dates {
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    text-align: right !important;
    white-space: nowrap !important;
    float: right !important;
}
html body #tl-widget .tl-event-header .tl-view-all-dates a {
    text-decoration: none !important;
}
/*************************************************************************************************/

html body #tl-widget .tl-performance-list {
    padding: 5px !important;
}

html body #tl-widget .tl-performance-list .tl-performance-row {
    border-top: 1px solid #e0e0e0 !important;
    padding-bottom: 20px !important;
}

html body #tl-widget .tl-performance-list .tl-performance-row:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

html body #tl-widget .tl-performance-list .tl-header-event-date,
html body #tl-widget .tl-performance-list .tl-event-date {
    padding: 29px 20px 0 !important;
    font-family: museo-sans,sans-serif !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    float: left !important;
}

html body #tl-widget .tl-performance-list .tl-get-tickets-link {
    padding: 20px 15px 0 !important;
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    white-space: nowrap !important;
    float: right !important;
}

html body #tl-widget .tl-performance-list .tl-performance-row.tl-first {
    border-top: none 0 !important;
}

/*************************************************************************************************/

html body #tl-widget .tl-main .tl-get-tickets form.tl-tickets-form {
    margin: 0 !important;
}

html body #tl-widget .tl-get-tickets .tl-ticket-table-header th {
    color: #FFF !important;
    text-transform: capitalize;
    text-align: center !important;
}

html body #tl-widget .tl-get-tickets .tl-ticket-table-header th {
    padding: 1.5em 0px 1.5em 0px;
}

html body #tl-widget .tl-get-tickets .tl-ticket-table-header .tl-first {
    padding-left: 1em;
}

html body #tl-widget .tl-get-tickets .tl-ticket-table-inner {
    width: 100% !important;
}

.tl-ticket-table {
    width: 100%;
}

.tl-ticket-type-fee-column, .tl-last {
    width: 15%;
}

html body #tl-widget .tl-get-tickets table.tl-ticket-table .tl-ticket-table-row td {
    text-align: center !important;
    padding: 1.5em 0px 1.5em 0px;
}

html body #tl-widget .tl-get-tickets table.tl-ticket-table .tl-ticket-table-row .tl-first {
    padding-left: 1em;
}

html body #tl-widget .tl-get-tickets table.tl-ticket-table .tl-ticket-table-row.tl-has-more-info-row td {
    padding: 1.5em 24.5px 0px 19px !important;
}
html body #tl-widget .tl-get-tickets table.tl-ticket-table .tl-more-info-row td {
    text-align: left !important;
    border-top: none !important;
    padding: 0 0 1.5em 19px !important;
}

html body #tl-widget .tl-get-tickets .tl-ticket-table-row.tl-first td {
    border-top: 0px !important;
}

html body #tl-widget .tl-get-tickets .tl-ticket-table-row .tl-ticket-type-name-label,
html body #tl-widget .tl-get-tickets .tl-ticket-table-header .tl-ticket-type-name-label {
    float:left;
}
html body #tl-widget .tl-get-tickets .tl-ticket-table-row .tl-ticket-type-price-column {
    min-width: 100px;
}
html body #tl-widget .tl-get-tickets .tl-ticket-table-header .tl-ticket-type-price-header {
    float: right;
    min-width: 100px;
}

html body #tl-widget .tl-get-tickets .tl-ticket-table-row .tl-ticket-min {
    letter-spacing: normal !important;
    white-space: nowrap !important;
    font-size: 10px !important;
    font-weight: 300 !important;
    font-family: museo-sans,sans-serif !important;
    right: 0 !important;
    left: 13px !important;
    bottom: -15px !important;
    position: absolute !important;
}

html body #tl-widget .tl-get-tickets td input.text-input-short {
    width: 50px !important;
}

html body #tl-widget .tl-get-tickets a.tl-more-info-link {
    color: #238CBD !important;
    font-family: museo-sans,sans-serif !important;
    font-weight: 300 !important;
    font-size: 10px !important;
    text-transform: uppercase !important;
    white-space: nowrap !important;
    text-decoration: none !important;
}

html body #tl-widget .tl-get-tickets .tl-more-info {
    display: none;
    font-family: museo-sans,sans-serif !important;
    font-size: 11px !important;
    max-width: 800px !important;
}

html body #tl-widget .tl-get-tickets .tl-more-info p {
    font-family: Arial,sans-serif !important;
    font-size: 11px !important;
    color: #444 !important;
    font-weight: normal !important;
    line-height: 14px !important;
}
html body #tl-widget .tl-get-tickets table.tl-ticket-table .tl-ticket-table-row td.tl-ticket-type-not-available {
    white-space: nowrap;
    padding: 1.5em 29px 1.5em 19px !important;
}
html body #tl-widget .tl-get-tickets table.tl-ticket-table .tl-ticket-table-row.tl-has-more-info-row td.tl-ticket-type-not-available {
    padding: 1.5em 29px 0 19px !important;
}
html body #tl-widget .tl-get-tickets table.tl-ticket-table .tl-ticket-table-errors td {
    background-color: #fcfcfc !important;
    padding: 10px 30px !important;
}
html body #tl-widget .tl-performance-list-errors,
html body #tl-widget .tl-get-tickets .tl-ticket-table-error {
    font-family: museo-sans,sans-serif !important;
    color: #e0336b !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    text-align: right !important;
    text-transform: uppercase !important;
}
html body #tl-widget .tl-performance-list-errors {
    text-align: left !important;
    padding: 20px !important;
}
html body #tl-widget .tl-get-tickets .tl-ie9-browser-unsupported-message,
html body #tl-widget .tl-get-tickets .tl-ticket-table-header-error {
    font-family: museo-sans,sans-serif !important;
    color: #e0336b !important;
    font-size: 14px !important;
    font-weight: 900 !important;
    padding: 15px 24px !important;
    text-align: center !important;
    text-transform: uppercase !important;
}
html body #tl-widget .tl-get-tickets .tl-ie9-browser-unsupported-message {
    color: #1c302f !important;
    border: 1px solid #e0e0e0 !important;
    font-weight: 700 !important;
    text-transform: none !important;
    text-align: left !important;
}
html body #tl-widget #ie9 .tl-main .tl-get-tickets .tl-ticket-table-container {
    display: none !important;
}

html body #tl-widget .tl-checkout-buttons {
    display: inline-block !important;
    width: 100% !important;
}

html body #tl-widget .tl-checkout-bar a.tl-checkout-powered-by img {
    width: 117px !important;
    padding: 3px 0 !important;
}

html body #tl-widget .tl-checkout-bar .tl-status-messaging {
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    display: block !important;
    float: right !important;
}

html body #tl-widget .tl-checkout-bar .tl-proceed {
    display: block !important;
    float: right !important;
}
html body #tl-widget #ie9 .tl-footer {
    border-top: 1px solid #E0E0E0 !important;
}
html body #tl-widget #ie9 .tl-checkout-bar .tl-checkout {
    display: none !important;
}
/*************************************************************************************************/

html body #tl-widget .tl-back {
    float: left !important;
    padding: 40px;
    font-family: museo-sans,sans-serif !important;
    font-size: 12px !important;
    text-align: left !important;
    white-space: nowrap !important;
}
html body #tl-widget .tl-back a {
    color: #1C302F !important;
    text-decoration: none !important;
}